@inject AuthService AuthService
<nav class="sidebar">
    <ul>
        <li>
            <NavLink href="">Home</NavLink>
        </li>
        <li>
            <NavLink href="counter">Counter</NavLink>
        </li>
        <li>
            <NavLink href="fetchdata">Fetch data</NavLink>
        </li>
        <li>
            <NavLink href="sudoku">Sudoku</NavLink>
        </li>
        <li>
            <NavLink href="articles">Articles</NavLink>
        </li>
        @if (AuthService.IsInRole("Administrator"))
        {
            <li>
                <NavLink href="create-editor">Create Editor</NavLink>
            </li>
        }
    </ul>
</nav>
